.card-wrapper {
    position: relative; /* Relative positioning for overlay effects */
    
    
  }
  
  .option-overlay {
    position: absolute; /* Absolute positioning for precise placement */
    background-color: rgba(0, 0, 0, 0.2); /* Transparent overlay */
    border: 2px solid transparent; /* Invisible border initially */
    transition: all 0.3s; /* Smooth transition */
  }
  
  .option-overlay:hover {
    background-color: rgba(0, 0, 255, 0.3); /* Highlight effect on hover */
    border: 2px solid blue; /* Blue border on hover */
  }

  .card-wrapper img {
    /* Ensure images scale properly */
    width: 100%; /* Set to full width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.blur-overlay {
  position: absolute;
  width: 100%; /* Ensure it covers the area it needs to */
  height: 100%; /* Cover the full area */
  backdrop-filter: blur(4px);
  z-index: 2; /* Ensure it's above the content it needs to blur */
}

.blur-overlay.disabled {
  display: none;
}

